<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content expand>
  <ion-item>
    <ion-label>ตัวตั้ง</ion-label>
    <ion-input type="Number" [(ngModel)]="a"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>ตัวบวก</ion-label>
    <ion-input type="number" [(ngModel)]="b"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>ผลลัพธ์</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="calculate(a,b)">
    แสดงผลลัพธ์
  </ion-button>

</ion-content>
